[user]
	name = Dan Langer
	email = dan@waveaccounting.com
[push]
	default = current
	# default = tracking
[core]
	excludefile = /home/dan/dotfiles/.gitignore
	excludesfile = /home/dan/dotfiles/.gitignore
[alias]
	co = checkout
 	ag = "!sh -c 'git ls-files -m -o --exclude-standard | grep $1 | xargs -r git add' -"
	ci = commit
	meld = "!/home/dan/dotfiles/git-meld.pl"
	br = branch
[color]
	ui = auto
[init]
	templatedir = ~/.git_templates
